<script setup>
import { ref } from "vue";

const task = ref("");
const onSubmit = () => {
  console.log(task.value);
};
</script>

<template>
  <form @submit.prevent="onSubmit">
    <input type="text" v-model="task" />
    <button>Add task</button>
  </form>
</template>
