<script setup>
defineProps({
  tasks: {
    type: Array,
    required: true
  }
})
</script>

<template>
  <ul>
    <li v-for="task in tasks" :key="task.id">
      <input type="checkbox" :id="`task-${task.id}`" />
      <label :for="`task-${task.id}`">{{ task.task }}</label>
    </li>
  </ul>
</template>
