<script setup>
import TaskCreator from './components/TaskCreator.vue'
import TaskList from './components/TaskList.vue'
</script>

<template>
  <TaskCreator />
  <TaskList :tasks="[{id: 1, task: 'Write some code', done: true}]" />
</template>
